numpy==1.24.3
pandas==2.1.1
scipy==1.11.3
yfinance~=1.2.0
soupsieve~=2.8.3
beautifulsoup4~=4.14.3
lxml~=6.0.2
html5lib~=1.1
pip~=23.2.1
wheel~=0.41.2
setuptools~=68.2.0
pytz~=2026.1.post1
cffi~=2.0.0
python-dateutil~=2.9.0.post0
certifi~=2026.2.25
peewee~=4.0.4
urllib3~=1.26.20
six~=1.17.0
idna~=3.11
frozendict~=2.4.7
websockets~=15.0.1
platformdirs~=4.4.0
multitasking~=0.0.12
requests~=2.32.5
pycparser~=2.23